<style>
    :root {
        --blue: linear-gradient(rgb(169, 189, 233), rgb(137, 137, 225));
        --cyan: linear-gradient(rgb(169, 219, 233), rgb(137, 215, 225));
        --green: linear-gradient(rgb(172, 233, 169), rgb(163, 225, 137));
        --red: linear-gradient(rgb(239, 119, 119), rgb(209, 178, 122));
    }

    .sidebar {
        position: absolute;
        display: block;
        width: 15rem;
        background-color: rgb(184, 182, 182);
        height: 100%;
    }

    @media print {
        .sidebar {
            visibility: hidden;
        }
    }

    .sidebar:not(:has(#strong-nair:checked)) {
        ~ .content .rangebox {
            opacity: 0.1;
        }
    }

    .square {
        width: 1rem;
        height: 1rem;
        border: 1px solid black;
    }

    .contenthead {
        position: absolute;
        left: 18rem;
        top: 0;
    }

    .content {
        position: absolute;
        left: 18rem;
        top: 10%;
        y: 0;
        width: 60%;
        height: 85%;
        display: grid;
        border: 3px double gray;
        resize: both;
        overflow: auto;
    }

    .rangebox {
        background: var(--red);
        grid-column: 2 / span 3;
        border: 1px solid black;
        display: grid;
        grid-template-rows: subgrid;
        min-height: 0;

        &>p {
            position: absolute;
            /* writing-mode: vertical-rl;
            text-orientation: sideways; */
            text-wrap: 1;
        }

        &>.sidetext {
            position: absolute;
            font-size: larger;
            font-style: italic;
            writing-mode: vertical-rl;
            text-orientation: sideways;
            grid-column: 1 / 1;
        }

    }

    .gridline {
        border-top: 2px solid gray;
        grid-column-start: 1;
        grid-column-end: 15;
    }
</style>

<div class="sidebar">
    <form action="/submit" method="POST">
        <label for="attacker">Opponent char (attacker)</label>
        <select name="attacker" onchange="this.form.submit()">
            <option value="fox">Fox</option>
        </select>
        <label for="defender">Your char (defender)</label>
        <select name="defender" onchange="this.form.submit()">
            <option value="marth">Marth</option>
            <option value="fox">Fox</option>
            <option value="falco">Falco</option>
        </select>
        <button id="swap">Switch attacker and defender</button>
    </form>
    <label for="max-percent">Max %:</label>
    <input type="range" value="100" min="10" max="200" step="10" id="max-percent"
        oninput="maxPercentValue.innerText = this.value">
    <output id="maxPercentValue">100</output>

    <details name="expand1" open>
        <summary>Ground moves</summary>
        <form>
            <fieldset>
                <legend>top of the thingy</legend>
                <input type="checkbox" id="ch1">
                <label for="ch1">check1</label>
                <input type="checkbox" id="ch2">
                <label for="ch2">check2</label>

            </fieldset>
        </form>
    </details>
    <details name="expand2" open>
        <summary>Aerials</summary>
        <form>
            <fieldset>
                <legend>top of the thingy</legend>
                <input type="checkbox" id="strong-nair" checked>
                <label for="strong-nair">Strong Nair</label>
                <input type="checkbox" id="weak-nair" checked>
                <label for="weak-nair">Weak Nair</label>
            </fieldset>
        </form>
    </details>
    <details name="expand3" open>
        <summary>Specials</summary>
        <form>
            <fieldset>
                <legend>top of the thingy</legend>
                <input type="checkbox" id="ch3.1">
                <label for="ch3.1">check1</label>
                <input type="checkbox" id="ch3.2">
                <label for="ch3.2">check2</label>
            </fieldset>
        </form>
    </details>

<!--forgive abuse of fieldset. i just like the look. -->
    <fieldset>
    <legend><b><i>Legend</b></i></legend>
    <div class="square" style="background: var(--red)"><div style="position:relative;left:120%;text-wrap:nowrap;">No counterplay</div></div>
    <div class="square" style="background: var(--orange)"><div style="position:relative;left:120%;text-wrap:nowrap;">Always knocks down</div></div>
    <div class="square" style="background: var(--green)"><div style="position:relative;left:120%;text-wrap:nowrap;">Crouchable</div></div>
    <div class="square" style="background: var(--cyan)"><div style="position:relative;left:120%;text-wrap:nowrap;">ASDI Down-able</div></div>
    </fieldset>

</div>
<!-- /sidebar -->
<div class="contenthead">
    <h1>Fox&RightArrow;Marth</h1>
</div>
<div class="content">
    <div class="gridline" style="grid-row: 1 / 11;">0%</div>
    <div class="gridline" style="grid-row: 11 / 21;">10%</div>
    <div class="gridline" style="grid-row: 21 / 31;">20%</div>
    <div class="gridline" style="grid-row: 31 / 41;">30%</div>
    <div class="gridline" style="grid-row: 41 / 51;">40%</div>
    <div class="gridline" style="grid-row: 51 / 61;">50%</div>
    <div class="gridline" style="grid-row: 61 / 71;">60%</div>
    <div class="gridline" style="grid-row: 71 / 81;">70%</div>
    <div class="gridline" style="grid-row: 81 / 91;">80%</div>
    <div class="gridline" style="grid-row: 91 / 101;">90%</div>
    <div class="gridline" style="grid-row: 101 / 111;">100%</div>
    <div class="gridline" style="grid-row: 111 / 121;">110%</div>
    <div class="gridline" style="grid-row: 121 / 131;">120%</div>
    <div class="gridline" style="grid-row: 131 / 141;">130%</div>

    <div class="rangebox" style="grid-row: 1 / 141;">
        <div class="sidetext"><b>weak nair</b></div>
        <div class="rangebox" style="grid-row: 1 / 28; background: var(--red);">
            <p><b>0-27</b><br>breaks crouch<br>(sakurai)</p>
        </div>
        <div class="rangebox" style="grid-row: 28 / 115; background: var(--green);">
            <p><b>28-114</b><br>crouchable</p>
        </div>
        <div class="rangebox" style="grid-row: 115 / 141; background: var(--red);">
            <p><b>115+</b><br>breaks crouch</p>
        </div>
    </div>

    <div class="rangebox" style="grid-row: 1 / 141; grid-column: 6 / span 3">
        <div class="sidetext"><b>strong nair</b></div>
        <div class="rangebox" style="grid-row: 1 / 8; background: var(--red);">
            <p><b>0-7</b>breaks crouch (sakurai)</p>
        </div>
        <div class="rangebox" style="grid-row: 8 / 38; background: var(--cyan);">
            <p><b>7-37</b><br>unsafe (asdi down)<br></p>
        </div>
        <div class="rangebox" style="grid-row: 38 / 75; background: var(--green);">
            <p><b>38-75</b><br>crouchable</p>
        </div>
        <div class="rangebox" style="grid-row: 75 / 141; background: var(--red);">
            <p><b>76+</b><br>breaks crouch</p>
        </div>
    </div>

</div>
